* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'outfit', serif;
    font-size: 16px;
}
body {
    background-image: url(resources/Background_image.svg);
    background-color: #121826;
}
/*declare grid*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2.5rem;
    column-gap: 4rem;
    margin: 2rem;
    padding: 5%;
}
/*arrange header*/
.header {
    grid-column: 1/span 3;
    justify-items: center;
}
.title {
    color: #E5E7EB;
    text-align: center;
    font-size: 2.5rem;
}
.sub-header {
    color: #9DA3AE;
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
}
/*features card*/
.features-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
    background-color: #212936;
    padding: 1.5rem;
    border-radius: 15px;
}
.logo-container {
    width: 2.5rem;
    border-radius: 50%;
    padding: 1rem;
}
.logo {
    font-size: 2rem;
    text-align: center;
}
.logo-container.first {
    background-color: #FCEED8;
}
.logo-container.second {
    background-color: #DEE9FC;
}
.logo-container.third {
    background-color: #FBE5E6;
}
.features-subheading {
    color: #D2D5DA;
    font-size: 1.25rem;
}
.features-content {
    color: #D2D5DA
}
.features-card img {
    border-radius: 15px;
}

/*for tablet*/
@media only screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns : 1fr 1fr;
        gap: 2.5rem;
        place-content: center;
        margin: 2rem;
    }
    .title {
        grid-column: 1/span 2;
    }
    .features-card:last-child {
        grid-row: 3;
        justify-self: center;
        position: relative;
        left: 50%;
    }
}
@media only screen and (max-width:640px) {
    .grid-container{
        grid-template-columns: 1fr;
        gap: 2.5rem;
        justify-content: center;
        align-content: center;
        margin: 1rem;
        padding: 5%;
    }
    .title {
        grid-column: 1
    }
    .features-card {
        max-width: 50%;
        margin-left: 25%;
        justify-self: center;
    }
    .features-card.first {
        grid-row: 2;
    }
    .features-card.second{
        grid-row: 3;
    }
    .features-card.third {
        grid-row: 4;
        position: relative;
        left: 0;
    }
}